<footer>
    <div class="row">
        <div class="column small-2">
            {{site.hashtag}}
        </div>
        <div class="column small-2 copyright">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/motion-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/foundation.min.js"></script>
<script type="text/javascript" src="/assets/js/site.js"></script>

{{#if script}}
<script type="text/javascript" src="/assets/js/{{script}}.js"></script>
{{/if}}
