$shadow: 0 2px 8px rgba(0, 0, 0, .8), 0 2px 8px rgba(0, 0, 0, .8);
$shadow-heavy: 0 0 2px #000, 0 0 4px #000, 0 0 8px #000;

p,
ul {
  font-family: serif;
  font-size: 1.2rem;
}

h2 {
  font-style: italic;
  margin-top: 1.5em;
}

#banner {
  background-color: #9fc5db;
  background-image: url('/assets/imgs/whitsand-bay.jpg');
  background-size: cover;
  height: 625px;
}

#main {
  background-color: white;

  #content em {
    font-style: italic;
  }
}

#page-title {
  color: white;
  font-family: serif;
  margin-top: 254px;
  text-align: center;
  text-shadow: $shadow;
}

.subheading {
  color: white;
  text-align: center;
  text-shadow: $shadow-heavy;
}

#map {
  height: 500px;
  max-height: 100vh;
  width: 100%;
}

.faces {
  background-image: url('/assets/imgs/deb-wood.jpg');
  background-size: cover;
  border-radius: 1000px;
  height: 300px;
  margin: 85px auto 25px;
  text-indent: -10000px;
  text-shadow: $shadow;
  width: 300px;
}

footer {
  background-color: #aab0a9;

  .column {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
