{{> header_standard}}
<div id="banner" class="row expanded">
  <div class="row">
    <div class="column">
      <h1 id="page-title">{{{title}}}</h1>
      <div class="faces">Deborah &amp; Woody</div>
    </div>
  </div>
</div>
<div id="main" class="row expanded">
  <div class="row">
    <div id="content" class="column">
      {{{contents}}}
    </div>
  </div>
  <div id="map" data-magellan-target="map"></div>
  <script>
  function initMap() {
    var uluru = {lat: 50.384191, lng: -4.315252};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: uluru,
      mapTypeId: 'hybrid'
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHuXdbxu4mxw8qo-PrNW8Dp9--koeQUF4&callback=initMap">
  </script>
</div>

{{> footer_standard}}
