{{> header_standard}}
<div id="banner" class="row expanded">
  <div class="row">
    <div class="column">
      <h1 id="page-title">{{{title}}}</h1>
      <div class="faces">Deborah &amp; Woody</div>
    </div>
  </div>
</div>
<div id="main" class="row expanded">
  <div class="row">
    <div id="content" class="column">
      {{{contents}}}
    </div>
  </div>

{{> footer_standard}}
